<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Turn" icon-off="ion-ios-clock-outline" icon-on="ion-ios-clock" href="#/app/battle/{{battle.id}}/turn">
    <ion-nav-view name="battle-turn"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Initiative" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/app/battle/{{battle.id}}/initiative">
    <ion-nav-view name="battle-initiative"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Fire" icon-off="ion-ios-flame-outline" icon-on="ion-ios-flame" href="#/app/battle/{{battle.id}}/fire">
    <ion-nav-view name="battle-fire"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Melee" icon-off="ion-ios-medical-outline" icon-on="ion-ios-medical" href="#/app/battle/{{battle.id}}/melee">
    <ion-nav-view name="battle-melee"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="Morale" icon-off="ion-ios-pint-outline" icon-on="ion-ios-pint" href="#/app/battle/{{battle.id}}/morale">
    <ion-nav-view name="battle-morale"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="Army Morale" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/app/battle/{{battle.id}}/armymorale">
    <ion-nav-view name="battle-armymorale"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="Victory" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/app/battle/{{battle.id}}/victory">
    <ion-nav-view name="battle-victory"></ion-nav-view>
  </ion-tab>
  
</ion-tabs>
