<ion-view view-title="{{battle.name}} - {{battle.desc}}" class="bubble-background">
	<ion-nav-buttons side="right">
      <button class="button button-large icon ion-android-refresh" ng-click="reset()">
      </button>
	</ion-nav-buttons>
	<ion-content padding="true">
		<ion-list>
			<ion-item class="card">
				<div class="item item-divider"> <!--ng-click="toggleItem('results')"-->
					<!--i class="icon col" ng-class="isItemShown('results') ? 'ion-arrow-down-b' : 'ion-arrow-right-b'"></i-->
					<dice defs="[{num: 1, low: 0, high: 9, color: 'red'},{num: 1, low: 0, high: 9, color: 'white'}]" on-roll="onRoll(dice)" result="results.melee" />
				</div>
				<div class="item">
					<label class="item item-input item-select">
						<span class="input-label">Odds</span>
					    <select ng-model="results.odds" ng-options="o for o in melee.odds" ng-change="onChange()" required></select>
		            </label>
				</div>
			</ion-item>

			<ion-item class="card">
				<div class="item item-divider row" ng-click="toggleItem('attacker')">
					<i class="icon col" ng-class="isItemShown('attacker') ? 'ion-arrow-down-b' : 'ion-arrow-right-b'"></i>
					<b class="col col-90">Attacker</b>
					<i class="col"></i>
				</div>
				<div class="item" ng-show="isItemShown('attacker')">
					<label class="item item-input item-select">
						<span class="input-label">Nationality</span>
					    <select ng-model="melee.attack.nationality" ng-options="n for n in melee.nationalities" ng-change="onChange()" required></select>
		            </label>
					<div class="row item item-input">
						<span class="input-label col col-25">Morale</span>
						<input-spin class="col col-50 text-center" value="melee.attack.morale" min="-5" max="5" step="1" editable />
					</div>
					<div class="row item item-input">
						<span class="input-label col col-25">Leader</span>
						<input-spin class="col col-50 text-center" value="melee.attack.leader" min="-5" max="5" step="1" editable />
					</div>
					<ion-list>
						<ion-item>
							<ion-checkbox ng-model="melee.attack.tacticalldr" ng-change="onChange()">Tactical Leader</ion-checkbox>
						</ion-item>
						<ion-item>
							<ion-checkbox ng-model="melee.attack.diversion" ng-change="onChange()">Diversion</ion-checkbox>
						</ion-item>
						<ion-item ng-repeat="m in battle.modifiers.melee.attack">
							<ion-checkbox ng-model="melee.attack.modifier[m.name]" ng-change="onChange()">{{m.name}}</ion-checkbox>
						</ion-item>
					</ion-list>
				</div>
			</ion-item>
			
			<ion-item class="card">
				<div class="item item-divider row"  ng-click="toggleItem('defender')">
					<i class="icon col" ng-class="isItemShown('defender') ? 'ion-arrow-down-b' : 'ion-arrow-right-b'"></i>
					<b class="col col-90">Defender</b>
					<i class="col"></i>
				</div>
				
				<div class="item" ng-show="isItemShown('defender')">
					<label class="item item-input item-select">
						<span class="input-label">Nationality</span>
					    <select ng-model="melee.defend.nationality" ng-options="n for n in melee.nationalities" ng-change="onChange()" required></select>
		            </label>
					<div class="row item item-input">
						<span class="input-label col col-25">Morale</span>
						<input-spin class="col col-50 text-center" value="melee.defend.morale" min="-5" max="5" step="1" editable />
					</div>
					<div class="row item item-input">
						<span class="input-label col col-25">Leader</span>
						<input-spin class="col col-50 text-center" value="melee.defend.leader" min="-5" max="5" step="1" editable />
					</div>
					<ion-list>
						<ion-item>
							<ion-checkbox ng-model="melee.defend.tacticalldr" ng-change="onChange()">Tactical Leader</ion-checkbox>
						</ion-item>
						<ion-item ng-repeat="m in battle.modifiers.melee.defend">
							<ion-checkbox ng-model="melee.defend.modifier[m.name]" ng-change="onChange()">{{m.name}}</ion-checkbox>
						</ion-item>
					</ion-list>
				</div>
			</ion-item>
			
		</ion-list>
	</ion-content>
	
</ion-view>
