<ion-view view-title="{{battle.name}} - {{battle.desc}}" class="bubble-background">
	<ion-nav-buttons side="right">
      <button class="button button-large icon ion-android-refresh" ng-click="reset()">
      </button>
	</ion-nav-buttons>
	<ion-content padding="true">
		<ion-list>
			<ion-item class="card">
				<div class="item item-divider"> <!--ng-click="toggleItem('results')"-->
					<!--i class="icon col" ng-class="isItemShown('results') ? 'ion-arrow-down-b' : 'ion-arrow-right-b'"></i-->
					<dice defs="[{num: 1, low: 0, high: 9, color: 'white'}]" on-roll="onRoll(dice)" />
				</div>
				<div class="item" ng-show="isItemShown('results')">
					<div class="row">
						<span class="item-label col col-20">Result</span>
						<input class="col col-80" type="text" ng-model="results.morale" readonly />
					</div>
				</div>
			</ion-item>
		
			<ion-item class="card">
				<div class="item">
					<div class="row item item-input">
						<span class="input-label col col-25">Morale</span>
						<input-spin class="col col-50 text-center" value="morale.unit" min="-5" max="5" step="1" editable />
					</div>
				</div>
				
				<div class="item">
					<div class="row item item-input">
						<span class="input-label col col-25">Army</span>
						<div class="col col-50">
							<ion-radio class="col" ng-model="morale.army" ng-value="'british'" ng-change="onChange()">British</ion-radio>
							<ion-radio class="col" ng-model="morale.army" ng-value="'american'" ng-change="onChange()">American</ion-radio>
							<ion-radio class="col" ng-model="morale.army" ng-value="'french'" ng-change="onChange()">French</ion-radio>
						</div>
					</div>
				</div>
				
				<div class="item">
					<div class="row item item-input">
						<span class="input-label col col-25">Leader</span>
						<input-spin class="col col-50 text-center" value="morale.leader" min="-5" max="5" step="1" editable />
					</div>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
	
</ion-view>
