<ion-view view-title="{{battle.name}} - {{battle.desc}}" class="bubble-background">
	<ion-nav-buttons side="right">
      <button class="button button-large icon ion-android-refresh" ng-click="reset()">
      </button>
	</ion-nav-buttons>
	<ion-content padding="true">
		<ion-list>
			<ion-item class="card">
				<div class="item item-divider"> <!--ng-click="toggleItem('results')"-->
					<!--i class="icon col" ng-class="isItemShown('results') ? 'ion-arrow-down-b' : 'ion-arrow-right-b'"></i-->
					<dice defs="[{num: 1, low: 0, high: 9, color: 'red'},{num: 1, low: 0, high: 9, color: 'white'}]" on-roll="onRoll(dice)" />
				</div>
				<div class="item" ng-show="isItemShown('results')">
					<div class="row">
						<span class="item-label col col-20">Result</span>
						<input class="col col-80" type="text" ng-model="results.fire" readonly />
					</div>
				</div>
			</ion-item>
		
			<ion-item class="card">
				<label class="item item-input item-select">
					<span class="input-label">Type</span>
				    <select ng-model="fire.type" ng-options="t for t in fire.types" ng-change="onChange()" required></select>
	            </label>
				<label class="item item-input item-select">
					<span class="input-label">SPs</span>
				    <select ng-model="fire.strength" ng-options="s for s in fire.sps" ng-change="onChange()" required></select>
	            </label>
				<label class="item item-input item-select">
					<span class="input-label">Range</span>
				    <select ng-model="fire.range" ng-options="r for r in fire.ranges" ng-change="onChange()" required></select>
	            </label>
				<ion-list>
					<ion-item ng-repeat="m in battle.modifiers.fire">
						<ion-checkbox ng-model="fire.modifier[m.name]" ng-change="onChange()">{{m.name}}</ion-checkbox>
					</ion-item>
				</ion-list>
			</ion-item>
		</ion-list>
	</ion-content>
	
</ion-view>
