<ion-view view-title="{{battle.name}} - {{battle.desc}}" class="bubble-background">
	<ion-nav-buttons side="right">
      <button class="button button-large icon ion-android-refresh" ng-click="reset()">
      </button>
	</ion-nav-buttons>
	<ion-content padding="true">
		<ion-list>
			<ion-item class="card">
				<div class="item item-divider row"> <!--ng-click="toggleItem('results')"-->
					<!--i class="icon col" ng-class="isItemShown('results') ? 'ion-arrow-down-b' : 'ion-arrow-right-b'"></i-->
					<div class="col">
						<button class="button button-small button-assertive" ng-click="onRoll()">
							<img class="button-roll" src="img/dice/droll.png"></img>
						</button>
					</div>
					<div class="col col-80">
						<img class="dice-image" src="img/dice/{{dice[0].image}}.png" ng-click="onDie(1)"></img>
						<img class="dice-image" src="img/dice/{{dice[1].image}}.png" ng-click="onDie(2)"></img>
					</div>
				</div>
				<div class="item" ng-show="isItemShown('results')">
					<div class="row">
						<span class="item-label col col-20">Result</span>
						<input class="col col-80" type="text" ng-model="results.initiative" readonly />
					</div>
				</div>
				
			</ion-item>
		
			<ion-item class="card">
				<div class="item item-divider row">
					<b class="col col-90">Momentum</b>
					<i class="col"></i>
				</div>
				<div class="item">
					<label class="item item-input">
						<span class="input-label">British</span>
						<input type="number" class="col col-25 text-center" ng-model="momentum.british" ng-change="onChange()" min="-1" max="5"></input>
		            </label>
				</div>
				<div class="item">
					<label class="item item-input">
						<span class="input-label">American</span>
						<input type="number" class="col col-25 text-center" ng-model="momentum.american" ng-change="onChange()" min="-1" max="5"></input>
		            </label>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
	
</ion-view>
