/* Empty. Add your own CSS if you like */
.title-image {
    margin-top: 8px;
    height: 27px;
}

.battle-list {
  margin-left: 20%;
}
.battle-item {
  word-wrap: break-word;
}
.battle-image {
    height: 50px;
}

.battle-image-lg {
    height: 115px;
    margin-top: 10%;
}

.turn {
  margin-left: 4%;
  margin-top: 100px;
}

.battle-tabs {
  /*margin-top: -100px;*/
  background: blue;
}

.has-header.has-tabs {
    top: -4%;
}

.button-roll {
    vertical-align: middle;
    height: 37px;
}

.dice-image {
    vertical-align: middle;
    height: 37px;
}

.result {
    font-weight: bold;
}
